# API Framework
fastapi
uvicorn[standard]

# Settings & Validation
pydantic-settings
pydantic

# Resume Parsing
pdfplumber
docx2txt
python-multipart

# LLM API calls
httpx

# Testing
pytest
pytest-asyncio
httpx

# Utilities
python-dotenv

faster-whisper

piper-tts
onnxruntime-gpu